spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 50MB
springdoc:
  defaults-produce-media-type: application/json

server:
  servlet:
    context-path: /api/v1/employee/